<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="flexcol">
    <div class="flexrow">
      <div class="resource">
        <label for="actor.name" class="resource-label">__nom</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="actor.name" id="actor.name" value="{{actor.name}}" data-dtype="String" />
        </div>
      </div>
      <div class="resource">
        <div class="resource flex-group-center">
          <label for="system.profession" class="resource-label">__profession</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.profession" id="system.profession" value="{{system.profession}}"
                   data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.personality" class="resource-label">__personnalité</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.personality" id="system.personality" value="{{system.personality}}"
                   data-dtype="String" />
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow">
      <div class="resource">
        <label for="system.advantage" class="resource-label">__avantage</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.advantage" id="system.advantage" value="{{system.advantage}}"
                 data-dtype="String" />
        </div>
      </div>
      <div class="resource">
        <label for="system.disadvantage" class="resource-label">__désavantage</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.disadvantage" id="system.disadvantage" value="{{system.disadvantage}}"
                 data-dtype="String" />
        </div>
      </div>
    </div>
  </header>

  <section class="flexrow">
    <div>
      <h2>__Esprit ({{system.mind.value}})</h2>
      <p>1. __Équilibré</p>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <p>2. __Perturbé</p>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <p>3. __Désaxé</p>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <p>__Fou</p>
    </div>
    <div>
      <div><p>&nbsp;</p></div>
      <div>12</div>
      <div>
        <input type="checkbox" value="11" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 11}}} />
        11
        <input type="checkbox" value="11" class="js-gauge" data-type="body" {{{setChecked system.body.value 11}}} />
      </div>
      <div>
        <input type="checkbox" value="10" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 10}}} />
        10
        <input type="checkbox" value="10" class="js-gauge" data-type="body" {{{setChecked system.body.value 10}}} />
      </div>
      <div>
        <input type="checkbox" value="9" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 9}}} />
        9
        <input type="checkbox" value="9" class="js-gauge" data-type="body" {{{setChecked system.body.value 9}}} />
      </div>
      <div>
        <input type="checkbox" value="8" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 8}}} />
        8
        <input type="checkbox" value="8" class="js-gauge" data-type="body" {{{setChecked system.body.value 8}}} />
      </div>
      <div>
        <input type="checkbox" value="7" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 7}}} />
        7
        <input type="checkbox" value="7" class="js-gauge" data-type="body" {{{setChecked system.body.value 7}}} />
      </div>
      <div>
        <input type="checkbox" value="6" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 6}}} />
        6
        <input type="checkbox" value="6" class="js-gauge" data-type="body" {{{setChecked system.body.value 6}}} />
      </div>
      <div>
        <input type="checkbox" value="5" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 5}}} />
        5
        <input type="checkbox" value="5" class="js-gauge" data-type="body" {{{setChecked system.body.value 5}}} />
      </div>
      <div>
        <input type="checkbox" value="4" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 4}}} />
        4
        <input type="checkbox" value="4" class="js-gauge" data-type="body" {{{setChecked system.body.value 4}}} />
      </div>
      <div>
        <input type="checkbox" value="3" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 3}}} />
        3
        <input type="checkbox" value="3" class="js-gauge" data-type="body" {{{setChecked system.body.value 3}}} />
      </div>
      <div>
        <input type="checkbox" value="2" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 2}}} />
        2
        <input type="checkbox" value="2" class="js-gauge" data-type="body" {{{setChecked system.body.value 2}}} />
      </div>
      <div>
        <input type="checkbox" value="1" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 1}}} />
        1
        <input type="checkbox" value="1" class="js-gauge" data-type="body" {{{setChecked system.body.value 1}}} />
      </div>
      <div>
        <input type="checkbox" value="0" class="js-gauge" data-type="mind" {{{setChecked system.mind.value 0}}} />

        <input type="checkbox" value="0" class="js-gauge" data-type="body" {{{setChecked system.body.value 0}}} />
      </div>
    </div>
    <div>
      <h2>__Corps ({{system.body.value}})</h2>
      <div>
        <p>
          __Indemne
          <input type="checkbox" />
        </p>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <p>
          __Blessé
          <input type="checkbox" />
        </p>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <p>
          __Mutilé
          <input type="checkbox" />
        </p>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <p>__Mort</p>
    </div>
  </section>
</form>

